body {
    font-family: sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.nowrap {
    white-space: nowrap;
}

a:any-link {
    color: #2a7ae2;
    text-decoration: none;
}

a:visited {
    color: #1756a9
}

a:hover {
    color: #111;
    text-decoration: underline;
}

.draft {
    color: orangered;
}

pre {
    padding: 1em;
    overflow-x: auto;
}

blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    margin-left: 0;
    padding-left: 1em;
    font-style: italic;
}

.site-header, .page-header {
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 10px;
    /*background: #eff8ff;*/
    /* background: #ebeafc; */
    /* background: whitesmoke; */
    background: snow;
}

.header-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.header-columns > *:not(:last-child) {
    margin-right: 2em;
}

.site-navigation  {
    font-size: large;
    font-weight: lighter;
}

.site-navigation .site-title {
    font-size: xx-large;
}

.site-navigation a:any-link {
    color: black;
    text-decoration: none;
}

.site-navigation a:hover {
    text-decoration: underline;
}

footer {
    border-top: 1px solid #cdcdcd;
    border-bottom: 5px solid #424242;
    padding-top: 1em;
    padding-bottom: 1em;;
    margin-top: 1em;
    /* background: whitesmoke; */
    background: snow;
}

@media only screen and (min-width: 800px) {
    .bounded {
        max-width: 800px;
    }
}

.bounded-wrapper {
    padding-left: 1em;
    padding-right: 1em;
}

.bounded {
    margin-left: auto;
    margin-right: auto;
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.footer-columns {
    font-size: small;
    color: #828282;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* no wrapping when wide; this forces the bio paragraph to wrap itself. */
@media only screen and (min-width: 800px) {
    .footer-columns {
        flex-wrap: nowrap;
    }
}
@media only screen and (max-width: 799px) {
    .footer-columns {
        flex-wrap: wrap;
    }
    .footer-columns > *:not(:last-child) {
        margin-bottom: 1em;
    }
}

/* https://www.rawkblog.com/2019/01/flexbox-gutters-negative-margins-solved/ */
.footer-columns > *:not(:last-child) {
    margin-right: 2em;
}

ul.post-list,
ul.site-navigation-list,
ul.contact-list,
ul.social-media-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post-list > li {
    line-height: 1.75em;
    padding-left: 2em;
    text-indent: -2em;
}

footer {
    line-height: 1.25em;
}
footer ul > li {
    line-height: 1.25em;
}    

.post-when {
    font-family: monospace;
    color: #828282;
}

.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.icon svg path {
    fill: #828282;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
}

footer a:hover .username {
    text-decoration: underline;
}

/* use social site color on link mouseover */
a:hover .icon-rss svg path {
    fill: #fd7800;
}
a:hover .icon-linkedin svg path {
    fill: #0077b5;
}
a:hover .icon-github svg path {
    fill: #000;
}
a:hover .icon-twitter svg path {
    fill: #1da1f2;
}
a:hover .icon-soundcloud svg path {
    fill: #f50;
}

.aronography .lyrics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.aronography .verse {
    grid-column: 1;
}

.aronography .verse p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.aronography .details {
    grid-column: 2;
    font-weight: 100;
    border: 1px;
    background: #eeeeee;
    border: 2px solid #cdcdcd;
    padding-left: 1em;
    padding-right: 1em;
}

.aronography .details {
    position: relative;
}

.aronography .details:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #cdcdcd;
    border-top: 10px solid #cdcdcd;
    border-bottom: 10px solid transparent;
    left: -20px;
    top: 6px;
}

.aronography .details p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.aronography .details img {
    float: right;
    padding-left: 1em;
}

.aronography .trailer {
    margin: auto;
    width: 80%
}
